{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <table class="table table-hover">
        <thead>
          <tr class="table-info">
            <th scope="col">Id</th>
            <th scope="col">Nom. Curso</th>
            <th scope="col">Codigo</th>
            <th scope="col">Créditos</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        {% for curso in cursos %}
        <tbody>
          <tr>
            <th scope="row"> {{curso.id}} </th>
            <td>{{curso.nombre}}</td>
            <td>{{curso.codigo}}</td>
            <td>{{curso.creditos}}</td>
          </tr>
        </tbody>
        {% endfor %}  

      </table>
      
    </div>
     
  </div>
  
</main>
{% endblock %}